.product-manager{
  margin:auto;
  text-align: center
}
.input{
  margin:3px;
  border-radius: 2%;
  height:35px
}#button{
  color:red
}
#table{
  width:30%;
  margin-left: 40%
}
ul{
  list-style-type: none
}
.footer{
 
 
  margin-top:70vh;
  width:100%
}.footer p{
text-align: left;
font-size: 7px
}